/* menu_control_pan */
#menu_control_pan{
    width: 40%;
    min-width: 420px;
    max-width: 450px;
    flex-grow: 0;
    display: inline-block;
}

#menu_control_pan > .content_box{margin: 20px auto;}

.not_alert{
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px 0;
}

/* add_menu */
#add_menu_box{width: 100%;}

#add_menu_box_form{
    width: 90%;
    margin: 0 auto;
}

#add_menu_box_form > .form_input{width: 100%;}

#add_menu_btn{
    background-color: #555;
    color: #fff;
    width: 100%;
    padding: 15px 20px;
    font-size: 15px;
}

#add_menu_btn:hover{background-color: #000;}

/* menu_cate */

#menu_cate_box{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

#menu_cate_box.open #menu_cate_icon{transform: rotate(180deg);}
#menu_cate_box.open ~ #menu_cate_list{
    height: auto;
    border: 1px solid #ddd;
}

#menu_cate{
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px;
    width: calc(100% - 48px);
    border-right: 1px solid #ddd;
    display: inline-block;
}

#menu_cate_add_btn{
    width: 44px;
    border-radius: 0;
    background-color: #fff;
    padding: 10px;
}

#menu_cate_icon{
    position: absolute;
    right: 60px;
    top: calc(25%);
    font-size: 25px;
    transition: 0.3s all;
    transform: rotate(0deg);
}

#menu_cate_list{
    width: calc(100% - 48px);
    border-radius: 5px;
    margin: 10px 0;
    height: 0px;
    overflow: hidden;
    transition: 0.3s all;
}

.menu_cate_item{
    height: 40px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s all;
}

.menu_cate_item>.menu_cate_checkbox{visibility: hidden; margin-right: 20px;}

.menu_cate_item.check .menu_cate_checkbox{visibility: visible;}

.menu_cate_item:hover{background-color: #f7f7f7;}

.menu_cate_del{
    padding: 0;
    float: right;
    background-color: #fff;
}

#menu_cate_add_name{
    width: 100%;
}

/* MenuList */
#menu_box{
    width: 60%;
    min-width: 420px;
    display: inline-block;
    flex-grow: 0;
}

.menu_cate{
    border-radius: 5px;
    border: 1px solid #fff;
    transition: 0.3s all;
    background-color: #f9f9f9;
}

.menu_cate.close .menu_item_box{height: 0;}
.menu_cate.close .menu_cate_title_box{border: none;}
.menu_cate.close .menu_cate_open_icon{transform:rotate(0deg);}
.menu_cate:hover{border: 1px solid #ddd;}

.menu_cate_title_box{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px 0;
    transition: 0.3s all;
    border-bottom: 1px solid #ddd;
}

.menu_cate_title_box:hover{background-color: #f7f7f7;}

.menu_cate_open_icon{
    float: right;
    transition: 0.3s all;
    transform: rotate(-90deg);
    font-size: 20px;
    margin: 5px;
}

.menu_item_box{
    transition: 0.3s all;
    width: 100%;
    overflow: hidden;
}

.menu_cate_title{color: #aaa;cursor: pointer;}

.menu_cate_check:checked ~ .menu_cate_title{color: #000;}

.menu_cate_check{margin: 5px 10px;}

.menu_item_check{margin: 0 10px;}

.menu_item_check:checked ~ .menu_item_name{color: #000;}

.menu_item_name{color: #aaa;}

.menu_item_del{
    background-color: #fff;
    padding: 0;
    float: right;
}

.menu_item{
    height: 60px;
    padding: 20px;
    background-color: #fbfbfb;
    transition: 0.2s all;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.menu_item:hover{background-color: #f7f7f7;}

#menu_box_title{
    display: flex;
    justify-content: space-between;
}

#menu_box_title > h2{line-height: 34px;}

#menu_rand_set_form .form_input{
    width: 100%;
}

#menu_control{
    display: flex;
    justify-content: flex-end;
}

#menu_rand_set_btn{
    background-color: #555;
    color: #fff;
    transition: 0.3s all;
    margin-bottom: 20px;
}

#menu_rand_set_btn > i{
    color: #fff;
    margin-left: 10px;
}

#menu_rand_set_btn:hover{background-color: #000;}

.menu_price_area_box{
    width: 100%;
    margin-top: 10px;
}

.menu_price_area_item{
    display: grid;
    grid-template-columns: auto 1fr;
}

.menu_price_area_item > .form_label{
    margin: 0 10px;
    line-height: 60px;
}

#MenuPriceMin,#MenuPriceMax{
    width: 100%;
}

#MenuRandSetForm > .FormInput{width: 100%;}

#menu_rand_overlap_box{
    margin-top: 10px;
    overflow: hidden;
    height: 0px;
    transition: 0.3s all;
}

#menu_rand_overlap_box.open{height: 20px;}

.menu_item_price{
    float: right;
    margin-right: 20px;
}

/* Result */
#menu_result_background{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    opacity: 0;
    transition: 0.8s;
}

#menu_result_background.open{opacity: 1;}

#menu_result_box{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 5%;
    z-index: 201;
    position: relative;
}

#menu_result_title{
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
    padding-bottom: 30px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

#menu_result_content{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu_result_item{
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
    transition: 0.3s all;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 3px solid #FCC700;
}

.menu_result_item > *{
    margin: 5px;
    font-size: 20px;
}

.menu_result_item:hover{border: 3px solid #FFE06B;}

.menu_result_item:hover > .menu_result_item_cover{background-color: #FFE06B;}

.menu_result_item_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    left: -5px;
    background-color: #FCC700;
    text-align: center;
    font-size: 100px;
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    transition: 0.3s all;
    opacity: 1;
}

.menu_result_item_cover.open{opacity: 0;}

.menu_result_item_name{
    margin-top: 20px;
    margin-bottom: 10px;
}

#menu_result_footer{
    display: flex;
    justify-content: center;
}

.menu_result_btn{
    padding: 16px 20px;
    margin: 10px;
    color: #fff;
}

#menu_result_again{background-color: #555;}
#menu_result_close{background-color: #333;}

/* menu list */
#menu_list_box{width: 100%;}

/* MenuControl */
#menu_list_control{
    display: flex;
    justify-content: space-between;
}

/* MenuOption */
#menu_list_option{position: relative;}

#menu_list_option_icon{
    font-size: 23px;
    margin-right: 10px;
    line-height: 34px;
}
#menu_list_option_box{
    position: absolute;
    top: 0px;
    left: -175px;
    border-radius: 5px;
    background-color: #fff;
    width: 170px;
    overflow: hidden;
    height: 0px;
    transition: 0.3s all;
}

#menu_list_option_box.open{
    height: 150px;
    border: 1px solid #ddd;
}

.menu_list_option_item{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all;
    background-color: #fff;
}

.menu_list_option_item:hover{background-color: #eee;}

#menu_list_save_name{width: 100%;}

.menu_list_item{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: 0.3s all;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #fff;
}

.menu_list_item:hover{background-color: #eee;border: 1px solid #ddd;}

.menu_list_title{
    line-height: 20px;
    font-size: 17px;
    font-weight: bold;
}

.menu_list_del{
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 20px;
}

#menu_list_open_title{font-size: 17px;}
#menu_list_open_warning{
    font-size: 11px;
    margin: 7px 0;
    color: #CD0000;
}

.menu_list_open_item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.3s all;
    background-color: #fff;
}

.menu_list_open_item:hover{
    background-color: #eee;
    border:1px solid #ddd;
}

.MenuListOpenItemIcon{visibility: hidden;}

.menu_list_open_item.check .MenuListOpenItemIcon{visibility: visible;}

#menu_list_title_open_popup_title{
    color: #CD0000;
    margin: 10px;
}

#menu_list_title_open_popup_content{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}