@charset "UTF-8";

/* Default */

*{
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
    font-family: "나눔스퀘어라운드";
}

a{text-decoration: none;}
ul,ol{list-style: none;}
i{cursor: pointer;}

html{
    background-color: #f3f3f3;
}

button{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
    padding: 10px 20px;
}

#wrap{
    position: relative;
}

/* header */
header{
    background-color: #333;
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

header *{color: #fff;}

header > div{
    height: 100%;
    padding: 15px;
}

#logo{width: 20%;}
#logo a{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 50px;
}

#user{
    width: 80%;
    text-align: right;
}

#user > *:first-child{margin-right: 20px;}

.sign_btn{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    transition: 0.3s all;
    border-radius: 5px;
    margin: 5px 0;
    font-weight: bold;
}

#user > a:hover{opacity: 0.7;}

/* content */

#content{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: 0.3s all;
    justify-content: center;
}

.content_box{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    transition: 0.2s;
    display: inline-block;
    margin: 20px;
}

.content_box:hover{box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);}

.content_box_title{
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
}

.content_box_content{padding: 20px 10px;}

.content_box_footer{
    margin-top: 10px;
    width: 100%;
}

.form_label{
    display: block;
    margin: 3px 0;
    font-size:1.1em;
    color: #444;
}

.form_input{
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.error_word{
    color: #E57260;
    font-size: 15px;
    font-weight: bold;
}

footer{
    width: 100%;
    height: auto;
    background-color: #E1E1E1;
    padding: 20px 30px;
    height: 60px;
}

#copyright{
    color: #777;
    font-size: 14px;
}

/* side */
#side{
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    right: -100%;
    background: #555;
    transition: 0.5s;
    padding: 100px;
}

#side.open{right: 0;}

#side_btn{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: #333;
    box-shadow: 4px 4px 20px #ddd;
}

#side_btn > i{font-size: 25px; color: #fff;}

#user_photo{
    width: 140px;
    height: 140px;
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    margin: 0 auto;
}

#user_photo > i{
    font-size: 70px;
    color: #777;
}

#user_name {
    color: #fff;
    font-size:20px;
    margin: 25px 0px;
    text-align: center;
    font-weight: bold;
}

#side_menu{
    width: 100%;
}

.side_menu_link{
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    transition: .3s all;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size:1.3rem;
    padding: 0 10px;
    border-radius: 10px;
}

.side_menu_link.check{background-color: #333;}

.side_menu_link:hover{background-color: rgba(0, 0, 0, 0.1);}

#side_footer{
    width: 100%;
    background-color: #333;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

#side_footer > a{
    margin: 0 5px;
    border: none;
    background-color: #555;
}