/* popup */
#popup{opacity: 0;}

#popup.open{opacity: 1;}

#popup_box{
    position: fixed;
    z-index: 101;
    top: -120%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: 0.8s all;
}

#popup_background{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.8s all;
}

#popup.open ~ #popup_background{opacity: 1;}

#popup.open > #popup_box{top: 10%}

#popup_box_title{
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

#popup_content{
    padding: 20px;
}

#popup_button_box{
    display: flex;
    justify-content: flex-end;
}

.popup_button{
    margin: 0 5px;
    color: #fff;
}
.popup_close_btn{background-color: #aaa;}

.popup_close_btn:hover{background-color: #000;}

#popup_close_cross{
    background-color: #fff;
    position: absolute;
    top: 20px;
    padding: 0;
    right: 20px;
}

/* toast */
#toast{
    position: fixed;
    bottom: 10%;
    opacity: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 400px;
    z-index: 200;
    background-color: #F70000;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    transition: 0.8s all;
}

#toast.close{
    opacity: 0;
    bottom: 0%;
}

/* system - alert */
#system_alert_area{
    width: 90%;
    height: 0px;
    margin: 20px auto;
    margin-bottom: -20px;
    transition: 0.3s all;
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
}

#system_alert_area.open{height: 50px;}



#system_alert{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #555;
}

#alert-title{
    border-right: 2px solid #fff;
    padding-right: 10px;
}

#alert-content{padding-left: 5px;}

#system_alert *{color: #fff;}

#alert-close-btn{
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    outline: none;
    padding: 0;
}
#alert-close > i{transition: 0.3s all;}

#alert-close:hover > i{color: #eee;}

#system_alert.danger{background-color: #FF6D6D;}
#system_alert.warning{background-color: #FFCD54;}
#system_alert.success{background-color: #94EE97;}
#system_alert.info{background-color: #83DFE5;}